doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title infoplasma
		link(href='//fonts.googleapis.com/css?family=Roboto:400,700,500,300,100&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='infoplasma.css')
		script(src='infoplasma.js')
	body
		.index-info
			.title Расписание
			.time 10 августа, 12:44:23
		.infoplasma
			table
				include partials/tr.pug