@import "reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=all);

@mixin media($width) {
	@media only screen and (max-width: $width) {
		@content
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: #333333;
	position: relative;
	overflow: hidden;
}

.index-info {
	background-color: #fff;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-between;
	font-size: 2.5em;
	align-items: center;
	padding: 10px 20px;
	color: #11567a;
	.title {
		font-weight: 500;
	}
	.time {
		font-weight: 300;
	}
}

#infoplasma {
	background-color: #333333;
	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 15px 0;
		display: inline-block;
		margin: 10px auto 0;
	}

	.title {
		width: 16%;
		color: white;
		font-size: 2em;
		line-height: 1em;
		font-weight: 400;
		vertical-align: middle;
		padding: 10px 66px 10px 10px;
		background-color: #11567a;
		position: relative;

	}
	.age-limit{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1em;
		height: 100%;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		padding:0 5px;
		font-weight: 300;
		background-color: #191919;
	}

	.video {
		&-wrapper {
			background-color: #000;
			position: relative;
			&:after {
				content: '';
				padding-top: 45%;
				display: block;
			}
			iframe {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
			}
		}

	}

	.schedule  {
		padding: 0;
		background-color: #232323;
		position: relative;

		.swiper-container {
			width: 100%;
			height: 85px;
			.swiper-slide {
				.seanse {
					padding: 8px 0 0 0;
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					justify-content: center;
					&-item {

						float: left;
						padding: 0 20px;
						.time {
							font-size: 2.5em;
							font-weight: 300;
						}
						.bottom {
							display: flex;
							flex-flow: row nowrap;
							.price {
								padding-right: 2px;
								font-weight: 300;
								font-size: 1.5em;
							}
							.format {
								&[data-format='3d']{
									&:after {
										content: '3D';
										background: #d96c00;
										border-radius: 2px;
										font-size: 1.3em;
										font-family: 'Tahoma';
										display: flex;
										align-items: center;
										padding: 1px 6px 2px;
									}
								}
								&[data-format='2d']{
									display: none;
								}
								&[data-format='imax']{
									&:after {
										content: 'IMAX';
										background: #ad0000;
										border-radius: 2px;
										font-size: 1em;
										font-family: 'Tahoma';
										display: flex;
										align-items: center;
										padding: 3px 2px 4px;
									}
								}
								&[data-format='imax 3d']{
									&:after {
										content: 'IMAX 3D';
										background: #b000c7;
										border-radius: 2px;
										font-size: 0.5em;
										font-family: 'Tahoma';
										display: flex;
										align-items: center;
										padding: 7px 2px 8px;
									}
								}
								&[data-format='sub']{
									&:after {
										content: 'SUB';
										background: #181818;
										border-radius: 2px;
										font-size: 1.2em;
										font-family: 'Tahoma';
										display: flex;
										align-items: center;
										padding: 2px 2px 3px;
									}
								}
								&[data-format='orig']{
									&:after {
										content: 'ORIG';
										background: #3dad00;
										border-radius: 2px;
										font-size: 0.8em;
										font-family: 'Tahoma';
										display: flex;
										align-items: center;
										padding: 5px 4px 6px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.ruble {
	&:after {
		content: '₽';
		font: inherit;
		color: inherit;
	}
}
